body {

    background-image: url("image_1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-image: url('dbf0f3.png'); /* Add the background image */
    background-size: cover; /* Make the image cover the container */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    box-shadow: 0 5px 20px rgb(0, 0, 0);
    border-radius: 15px;
}

h2, h3 {
    text-align: center;
    color: #000000;  
    margin-bottom: 25px;
    
}

form {
    display: flex;
    flex-direction: column;
    gap: 25px;
}


label {
    font-size: 1.2rem;
    color: #000000;
}

input, button {
    font-size: 1.1rem;
    padding: 7px;
    border: 2.0px solid #000000;
    border-radius: 8px;
}

input[type="text"] {
    flex: 2;
}

input[type="number"] {
    flex: 1;
}

button {
    background-color: rgb(255, 24, 24);
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #d20404;
}

.warning {
    color: red;
    font-size: 0.9rem;
    display: none;
}

.add-more {
    text-align: right;
    margin-top: -5px;
}

.add-more button {
    font-size: 0.9rem;
    padding: 8px 15px;
}

.donate-money {
    margin-top: 30px;
    text-align: center;
}

.donate-money a {
    color: #fff;
    background-color: #e82d2d;
    padding: 12px 30px;
    text-decoration: none;
    border-radius: 51px;
    border: 3.7px solid #a70505c6;
    transition: background-color 0.3s ease;
}

.donate-money a:hover {
    background-color: #c70000;
}
